## EDA Notebook
- V1 on 9/17/2025 8pm PT

In [7]:
!pip install --quiet gdown pandas

#### Download 'reported.tsv'

In [14]:
file_id = "1nBFjtz1QsrYX96hKYXl1BMhnS-0lJrFK"  # reported.tsv
download_url = f"https://drive.google.com/uc?id={file_id}"
!gdown {download_url} -O reported.tsv

Downloading...
From: https://drive.google.com/uc?id=1nBFjtz1QsrYX96hKYXl1BMhnS-0lJrFK
To: /home/sagemaker-user/reported.tsv
100%|██████████████████████████████████████| 1.39M/1.39M [00:00<00:00, 36.6MB/s]

In [16]:
reported_df = pd.read_csv("reported.tsv", sep="\t", on_bad_lines="skip")
print(f"reported_df.shape: {reported_df.shape}")
reported_df.head(2)

reported_df.shape: (9150, 4)

,sentence_id,sentence,locale,reason
0,0e047d99c6c75b076aa34cdd37238670b0a9340fb78737...,It should not be confused with the Novodevichy...,en,grammar-or-spelling
1,0e047d99c6c75b076aa34cdd37238670b0a9340fb78737...,It should not be confused with the Novodevichy...,en,offensive-language

#### Download 'train.tsv'

In [17]:
file_id = "1W3gdWpXUnjJn_nwTpvlWwLLAfF1YPwos"  # train.tsv
download_url = f"https://drive.google.com/uc?id={file_id}"
!gdown {download_url} -O train.tsv

Downloading...
From (original): https://drive.google.com/uc?id=1W3gdWpXUnjJn_nwTpvlWwLLAfF1YPwos
From (redirected): https://drive.google.com/uc?id=1W3gdWpXUnjJn_nwTpvlWwLLAfF1YPwos&confirm=t&uuid=e2ad4626-44d8-46c6-a400-c7562e00ff23
To: /home/sagemaker-user/train.tsv
100%|█████████████████████████████████████████| 376M/376M [00:02<00:00, 154MB/s]

In [18]:
train_df = pd.read_csv("train.tsv", sep="\t")
print(f"train_df.shape: {train_df.shape}")
train_df.head(2)

/tmp/ipykernel_152/706301808.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv("train.tsv", sep="\t")

train_df.shape: (1138422, 13)

,client_id,path,sentence_id,sentence,sentence_domain,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,d41335955114ab117fd234b8e17a8ef833dddcf5c384f0...,common_voice_en_23679703.mp3,70ada06f3bc0b24fea1ad1bdb6d8245eed274e766642d7...,He directed four episodes of the series from s...,NaN,2,0,NaN,NaN,NaN,NaN,en,NaN
1,d41335955114ab117fd234b8e17a8ef833dddcf5c384f0...,common_voice_en_23679704.mp3,70a88237ebc082bb8817eec04735dbed3dc9a092e3a68a...,He was Emeritus Vilas Research Professor at th...,NaN,2,0,NaN,NaN,NaN,NaN,en,NaN

In [37]:
train_df["locale"].value_counts()

locale
en    1138422
Name: count, dtype: int64

#### Filter to only rows having age

In [19]:
train_with_non_null_age = train_df[train_df["age"].notna()]
print(f"Removing nulls reduces to {train_with_non_null_age.shape[0]}/{train_df.shape[0]} rows")

Removing nulls reduces to 811179/1138422 rows

#### Count and percentage of age buckets

In [20]:
train_with_non_null_age["age"].value_counts()

age
twenties     311490
thirties     164119
fourties     114433
teens         77153
fifties       73417
sixties       62614
seventies      6578
eighties       1179
nineties        196
Name: count, dtype: int64

In [21]:
train_with_non_null_age["age"].value_counts(normalize=True)*100

age
twenties     38.399663
thirties     20.232156
fourties     14.106997
teens         9.511218
fifties       9.050653
sixties       7.718888
seventies     0.810918
eighties      0.145344
nineties      0.024162
Name: proportion, dtype: float64

#### Count of age + gender

In [23]:
# Age + Gender crosstab
age_order = [
    "teens", "twenties", "thirties", "fourties",
    "fifties", "sixties", "seventies", "eighties", "nineties"
]
ct = pd.crosstab(
    index=train_with_non_null_age["age"],
    columns=train_with_non_null_age["gender"],
    normalize="index"
) * 100
ct.reindex(age_order)

gender,do_not_wish_to_say,female_feminine,male_masculine,non-binary,transgender
age,,,,,
teens,0.000000,38.027127,61.959280,0.000000,0.013594
twenties,0.010671,30.257226,69.717432,0.013672,0.001000
thirties,0.000000,19.495558,80.504442,0.000000,0.000000
fourties,0.000000,21.304290,78.693059,0.002651,0.000000
fifties,0.000000,27.055601,72.944399,0.000000,0.000000
sixties,0.000000,54.730974,45.269026,0.000000,0.000000
seventies,0.000000,39.935711,60.064289,0.000000,0.000000
eighties,0.000000,20.613288,79.386712,0.000000,0.000000
nineties,0.000000,0.000000,100.000000,0.000000,0.000000

In [31]:
# pd.set_option("display.max_rows", None)
pd.reset_option("display.max_rows")

#### Count of accent

In [36]:
# accent_value_counts_df = train_with_non_null_age["accents"].value_counts()
# print(accent_value_counts_df)

# accent_value_counts_df = train_with_non_null_age["accents"].value_counts().reset_index()
# accent_value_counts_df.columns = ["accent", "count"]
# print(accent_value_counts_df.to_string(index=False))

accent_value_counts_df["accent_short"] = accent_value_counts_df["accent"].str.slice(0, 40) + "…"
print(f"accent_value_counts_df.shape: {accent_value_counts_df.shape}")
print(accent_value_counts_df[["accent_short", "count"]].to_string(index=False))

accent_value_counts_df.shape: (344, 3)
                             accent_short  count
                   United States English… 260640
                         England English…  78239
India and South Asia (India, Pakistan, S…  77545
                        Canadian English…  54193
       Non native speaker,German English…  51696
                      Australian English…  33175
Southern African (South Africa, Zimbabwe…  21063
                        Scottish English…   8958
                          Northern Irish…   6209
                     New Zealand English…   5986
                           Irish English…   5755
                                Filipino…   4723
   United States English,England English…   2804
                     Singaporean English…   2769
                       Hong Kong English…   2759
England English,Liverpool English,Lancas…   2574
     England English,New Zealand English…   2565
United States English,Midwestern,Low,Dem…   1364
United States English,Transatlantic Engl…   1292
                       Malaysian English…   1130
      United States English,Scandinavian…   1102
Southern African (South Africa, Zimbabwe…    996
                           Welsh English…    858
United States English,southern United St…    471
England English,Academic southern Englis…    412
                                  Nepali…    408
  United States English,Canadian English…    404
        United States English,Minnesotan…    373
United States English,southern United St…    369
United States English,Midwestern,Minneso…    354
                      East African Khoja…    342
West Indies and Bermuda (Bahamas, Bermud…    328
                                  polish…    323
England English,Well spoken softly spoke…    303
Southern African (South Africa, Zimbabwe…    273
United States English,Unite States Midwe…    272
United States English,Southwestern Unite…    261
        England English,Canadian English…    242
    United States English,Midwestern USA…    192
          United States English,Filipino…    191
                  Northern Irish,culchie…    190
                           Slavic,polish…    190
                         nigerian accent…    185
England English,south German / Swiss acc…    179
        United States English,Midwestern…    178
        England English,Northern England…    168
                         nigeria english…    161
                            South Indian…    157
                Eastern European English…    151
                          German English…    146
                Canadian English,Ontario…    138
United States English,Boston,Like a Kenn…    134
                                Austrian…    131
               England English,yorkshire…    122
                                   Dutch…    117
                                    Thai…    117
United States English,Southern Californi…    115
                     Bangladeshi English…    114
           England English,Welsh English…    113
      European,German,Non-native,Foreign…    112
United States English,India and South As…    111
             Slavic,polish,East European…    109
      Mix of american and british accent…    104
                               Bulgarian…    104
India and South Asia (India, Pakistan, S…    102
                           Dutch English…    100
       United States English,Slight lisp…    100
United States English,Speech impediment,…     99
United States English,United States, wes…     96
                                  German…     95
              Non-native,Spanish,Foreign…     95
United States English,Midwestern United …     94
United States English,South Texas,Slight…     92
United States English,Pacific Northwest …     91
            England English,South London…     89
                                  French…     89
            Northumbrian British English…     86
                                 Italian…     85
United States English,Mid-Atlantic Unite…     83
        England English,Northern English…     82
                     England West County…     81
             United States English,Texas…     80
United States English,Southern Ohio Engl…     79
          England English,German English…     78
                                 Israeli…     76
India and South Asia (India, Pakistan, S…     70
  United States English,Upstate New York…     65
United States English,England English,Tr…     62
                        Croatian English…     61
                                 Russian…     60
  United States English,New York English…     59
United States English,England English,Br…     59
German,south-west German,South German ac…     58
British English / Received Pronunciation…     58
                         Israeli English…     56
United States English,Midwestern US Engl…     54
                   strong Latvian accent…     53
      Northern Irish,Norwegian,yorkshire…     53
United States English,Some time spent in…     53
United States English,Californian Accent…     53
United States English,England English,In…     52
   french accent,French mid level accent…     52
United States English,England English,Ca…     52
 United States English,California,Valley…     52
                                  Slavic…     51
                                 Latvian…     50
                              Indonesian…     50
        United States English,New Yorker…     49
                               Ukrainian…     48
                 England English,British…     47
               Romanian,Eastern European…     45
 United States English,Central American …     43
United States English,England English,Ir…     41
                          British accent…     40
               United States English,Gay…     40
                   Kenyan English accent…     40
                      Indonesian English…     40
United States English,Asian-American Eng…     39
                 england,london,academic…     39
        England English,male,southern UK…     39
India and South Asia (India, Pakistan, S…     38
England English,India and South Asia (In…     38
England English,Southern African (South …     37
United States English,England English,Mi…     36
                            Thai English…     35
                        Japanese English…     33
                                 Vietnam…     32
                           German Accent…     32
United States English,Southern Californi…     32
England English,India and South Asia (In…     32
United States English,Mid-west United St…     32
                        Nigerian English…     31
                         South Australia…     31
           South African English Accent …     31
United States English,Midwestern States …     30
                                European…     30
          South African  English accent …     30
                           Latin English…     30
                                Hispanic…     29
United States English,California English…     28
United States English,American english w…     27
     England English,Singaporean English…     27
      United States English,Mid-atlantic…     26
                           2nd Language …     26
                        European English…     26
     United States English,North Indiana…     25
England English,femalepublic school acce…     24
  England English,South London and Essex…     24
                        Generic European…     24
United States English,England English,Sc…     24
United States English,Spoke Chinese when…     23
           United States English,Russian…     22
       England English,Malaysian English…     22
                                  Slovak…     22
               England English,Norwegian…     22
Australian English,England English,New Z…     22
United States English,England English,En…     22
Irish English,Northern Irish English,bel…     21
United States English,new england/east c…     21
Canadian English,India and South Asia (I…     21
Australian English,Educated Australian A…     21
                          Swedish accent…     21
     United States English,Irish English…     21
United States English,Australian English…     20
United States English,southern midwest h…     20
      Australian English,England English…     19
              United States English,Cool…     19
   Australian English,General Australian…     19
   Malaysian English,Singaporean English…     19
        England English,Scottish English…     18
    United States English,Hmong-American…     18
  United States English,Washington State…     17
                  North European English…     17
Born in West Germany in 1966, lived in T…     17
India and South Asia (India, Pakistan, S…     16
                   Canadian English,Lisp…     16
United States English,Slight Dutch accen…     16
                         Swedish English…     16
                           West African …     16
                        Georgian English…     15
                       Brazillian Accent…     15
United States English,Australian English…     15
                               Hungarian…     15
                   Lithuanian,Non-native…     15
                     fluent,European,ESL…     15
Australian English,England English,Japan…     15
           United States English,serbian…     15
England English,Southern England English…     14
             England English,Midatlantic…     14
          United States English,Chicago …     14
                              California…     14
  United States English,American Midwest…     14
               Canadian English,Filipino…     14
United States English,Canadian English,i…     13
United States English,Singaporean Englis…     13
United States English,England English,Ir…     13
                                Hunglish…     13
A variety of Texan English with some Ger…     13
    England English,East Anglian English…     13
Ghanaian english Accent,african regular …     12
               European,Dutch,Adjustable…     12
United States English,Pacific North West…     12
United States English,Neutral,Pennsylvan…     12
 United States English,Malaysian English…     11
 United States English,Speech impediment…     11
United States English,Southern African (…     11
United States English,Delaware Valley, P…     11
        Canadian English,Swedish English…     11
    United States English,German,Russian…     11
United States English,Chicano English,"V…     11
Scottish English,Scottish English (West …     10
England English,Slightly lazy Midlands E…     10
                                    Kiwi…     10
                 Nigerian ,West African …     10
                German Accent,Non-native…     10
United States English,Australian English…     10
    Malaysian English,Indonesian English…     10
Perceived pronunciation English with no …     10
United States English,Australian English…     10
India and South Asia (India, Pakistan, S…     10
     United States English,Latin America…     10
        United States English,West Coast…     10
         United States English,Floridian…     10
                           Swiss English…     10
    England English,Lancashire, England …     10
                               Brazilian…      9
                          Russian,Slavic…      9
                     Caribbean Canadian …      9
Australian English,Sydney - middle easte…      9
     United States English,Pittsburgh PA…      9
                   northen united states…      9
           United States English,midwest…      9
England English,Received English, temper…      9
                      Kazakhstan English…      9
            Filipino,Waray-waray dialect…      9
                    Liverpudlian English…      9
                           french accent…      9
Eastern European English,bulgarian engli…      9
                            Czech accent…      9
     United States English,Mix of voices…      9
           England English,Very British …      9
                           polish accent…      8
                                   Czech…      8
                                  Korean…      8
  England English,Received Pronunciation…      8
                                 Finnish…      7
India and South Asia (India, Pakistan, S…      7
   United States English,British English…      7
                                   Greek…      7
United States English,California English…      7
          Bangladeshi,Bangladesh English…      7
            Danish English,Transatlantic…      7
                         European accent…      7
United States English,English Second Lan…      7
                       Spanish bilingual…      7
     Australian English,Canadian English…      7
                          Western Europe…      7
India and South Asia (India, Pakistan, S…      7
                 Russian,East Ukrainian …      6
Latin American accent influenced by Amer…      6
          United States English,Ponglish…      6
United States English,Southern United St…      6
General American English,Southern U.S. E…      6
    United States English,Foreign accent…      6
                             Midatlantic…      6
                           Japan English…      6
                          African Accent…      6
     United States English,German Accent…      6
                         Russian English…      6
United States English,New Zealand Englis…      6
                midwestern united states…      6
                       Personal idiolect…      6
            Scottish English,Cowdengelly…      6
        English with Swiss german accent…      5
                                  Latino…      5
United States English,Transfemale - US E…      5
      United States English,Northeast US…      5
West Indies and Bermuda (Bahamas, Bermud…      5
United States English combined with Euro…      5
United States English,Pacific Northwest …      5
United States English,West Coast,Oregoni…      5
 United States English,Foreigner English…      5
    United States English,Northern,Urban…      5
   England English,Educated,non regional…      5
                          Haitian Creole…      5
          United States English,Variable…      5
not native English, originally French na…      5
               Canadian English,SerpentX…      5
                                 serbian…      5
                          mexican accent…      5
                     UK Southern English…      5
          England English,London English…      5
                             East Indian…      5
    United States English,pin/pen merger…      5
mix of american and british ,native poli…      5
                Welsh English,Shropshire…      5
                             West Indian…      5
very slight Russian accent,Standard Amer…      5
               English north of England …      5
              United States English,Okie…      5
                          Kenyan English…      5
United States English,Rhode Island,Massa…      5
                   Latin American accent…      5
England English,Porto des dels 3 anys ap…      5
Немного русский акцент произношения, съе…      5
                          Polish English…      5
                          french english…      4
                              Non-native…      4
          France English,Germany English…      4
                        Filipino English…      4
      Hong Kong English,Scottish English…      4
                              East Asian…      4
                                    A'lo…      4
                 Northern Irish,belfast …      4
        United States English,California…      4
           Mild Northern England English…      4
                                 Chinese…      4
United States English,Southern New Engla…      4
United States English,learnt from Spanis…      4
    Australian English,Hong Kong English…      4
United States English,Southern Appalachi…      4
        European English,French,Romanian…      4
                 England English,Russian…      4
          Non native speaker from France…      4
United States English,Midwest United Sta…      4
United States English,plain,southern dra…      4
                       Afrikaans English…      4
         Rhode Island New England Accent…      4
                 England English,Swedish…      4
German English,I am German and speak Eng…      4
United States English,Kentucky united st…      4
India and South Asia (India, Pakistan, S…      4
          Canadian English,Irish English…      4
 Scottish English,highland,east highland…      3
                           Second tongue…      3
                           Cretan_Accent…      3
                           Latinamerican…      3
               geordie ,England Northern…      3
     United States English,southern draw…      3
       English Cumbrian,English Northern…      2
2nd language, South African (first langu…      2
                  Northern Irish English…      2
United States English,i have some pronun…      2
South Atlantic (Falkland Islands, Saint …      1

#### Count of accent

In [25]:
# Age + Accent crosstab
age_order = [
    "teens", "twenties", "thirties", "fourties",
    "fifties", "sixties", "seventies", "eighties", "nineties"
]
ct = pd.crosstab(
    index=train_with_non_null_age["age"],
    columns=train_with_non_null_age["accents"],
    normalize="index"
)*100
ct.reindex(age_order)

accents,2nd Language,"2nd language, South African (first language Afrikaans)",A variety of Texan English with some German influence that has undergone the cot-caught merger,A'lo,African Accent,Afrikaans English,Australian English,"Australian English,Canadian English","Australian English,Educated Australian Accent","Australian English,England English",...,nigeria english,nigerian accent,northen united states,"not native English, originally French native language",polish,polish accent,serbian,strong Latvian accent,"very slight Russian accent,Standard American English,Boston influence","Немного русский акцент произношения, съедание слов"
age,,,,,,,,,,,,,,,,,,,,,
teens,0.043923,0.000000,0.021961,0.000000,0.000000,0.000000,16.813920,0.011825,0.000000,0.032097,...,0.000000,0.000000,0.000000,0.000000,0.483149,0.000000,0.008447,0.000000,0.00000,0.008447
twenties,0.000000,0.000000,0.000000,0.000000,0.000000,0.001712,4.665417,0.000000,0.000000,0.000000,...,0.068911,0.079184,0.000000,0.000000,0.007704,0.003424,0.000000,0.000000,0.00214,0.000000
thirties,0.000000,0.000000,0.000000,0.000000,0.004259,0.000000,3.494364,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.006388,0.003549,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
fourties,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.599984,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.019349,0.000000,0.000000,0.000000,0.00000,0.000000
fifties,0.000000,0.003048,0.000000,0.006096,0.000000,0.000000,2.029838,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.080767,0.00000,0.000000
sixties,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.968649,0.000000,0.052169,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
seventies,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.971678,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
eighties,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.355705,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
nineties,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000